<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "normalize", "application" %>
    <%= javascript_include_tag  "all" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="<%= page_classes %>">
    <header class="global-header">
      <div class="global-header__logo"><a href="https://www.halenohi.jp/" target="_blank"><img src="../images/halenohi_logo.png" alt="ハレノヒロゴ"></a></div>
      <div class="global-header__blog-logo"></div>
      <div class="global-header__sns">
        <a href="https://twitter.com/halenohi_jp" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/halenohiinc" target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
    </header>

    <%= yield %>
  <footer class="global-footer">
    <div class="global-footer__container">
      <div class="global-footer__container__column">
          <div class="global-footer__container__info">
            <div class="container__info__logo"><img src="../images/footer_logo.png" alt="ハレノヒロゴ" /></div>
            <div class="container__info__description">
              <p>株式会社ハレノヒ</p>
              <p>〒150-0001</p>
              <p>東京都渋谷区神宮前3-32-2</p>
              <p>K's Apartment 101</p>
            </div>
          </div>
          <div class="footer_link">
            <ul>
              <li><a href="http://www.halenohi.jp/about">About</a></li>
              <li><a href="http://www.halenohi.jp/ourworks">Ourworks</a></li>
              <li><a href="http://www.halenohi.jp/workflow">Workflow</a></li>
              <li><a href="http://www.halenohi.jp/privacy">Privacypolicy</a></li>
              <li><a href="http://www.halenohi.jp/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      <div class="global-footer__container__column">
      <ul>
        <li class="author-link"><a href=""><img src="../images/author_dummy_1.png" alt="" />山形孝造</a></li>
        <li class="author-link"><a href=""><img src="../images/author_dummy_1.png" alt="" />森田望</a></li>
        <li class="author-link"><a href=""><img src="../images/author_dummy_1.png" alt="" />matsuda</a></li>
        <li class="author-link"><a href=""><img src="../images/author_dummy_1.png" alt="" />yamaguchi</a></li>
      </ul>
      </div>
      <div class="global-footer__container__column">
        <div class="fb-page" data-href="https://www.facebook.com/halenohiinc?fref=ts"
        data-width="346" data-height="260" data-hide-cover="false" data-show-facepile="true"
        data-show-posts="true"><div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/halenohiinc?fref=ts">
        <a href="https://www.facebook.com/halenohiinc?fref=ts">株式会社ハレノヒ</a></blockquote></div></div>
      </div>
    </div>
  </footer>
    <div class="copyrights"><small>(c) halenohi, inc. All Rights Reserved.</small></div>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>

</html>
